.contenedorPrincipal {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.contenedorPrincipal h1 {
  color: #6b5fda;
}

.contenedor {
  background-color: #cfc9ff;
  margin: 1em 9em;
  padding: 2em 2em;
  min-height: 40em;
  width: 40vw;
  border-radius: 10px;
  display: grid;
}

.deleteButton {
  color: #6b5fda;
  position: absolute;
  bottom: 4rem;
  left: 24rem;
  transition: 0.6s;
}
.deleteButton:hover {
  background-color: #6b5fda;
  border-radius: 20px;
  transition: 0.4s;
  color: #fff;
}

.divide {
  border-top: 1px solid #000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.totalButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.totalButtons h2 {
  margin: 10px 0;
}

.totalButtons button {
  width: 15vw;
  color: #6b5fda;
  background-color: #cfc9ff;
  border: #6b5fda solid 1px;
}
.totalButtons button:hover {
  background-color: #fff;
  box-shadow: 0px 0px 10px 5px #6b5fda;
}
